@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewBag.UserLogin</h3>
<div class="jumbotron">
    <h1>ToDoList</h1>
    <p class="lead">ToDoList A web application in which a user can add, view, edit, and delete tasks (CRUD). All changes are stored in DB.</p>
    <p><a href="https://www.google.com.ua/search?q=todoist&rlz=1C1SQJL_ukUA785UA785&oq=ToDo&aqs=chrome.1.69i57j0j35i39j0l3.2304j0j7&sourceid=chrome&ie=UTF-8" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Getting started</h2>
            <p>
                Аirst register, then add your tasks.
            </p>
        </div>
        
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
          
        </div>
        </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
           
        </div>
        </div>
    </div>